{% extends "base.html" %}

{% block body %}
  <section class="home-intro">
    <p>Alfian has experience in Infrastructure and Data Science, especially as an Infra and Data Engineer for Magpie, an Indonesian e-commerce market intelligence company. His interests include Containerization, Cloud computing, Big data, Data Science, Machine Learning, and other things he finds interesting. </p>
    </p>He loves to code using Clojure, Python, SQL, and Go. He also using Linux as his daily OS since 2012. More about his works, research, and projects here: <a href="https://github.com/alfianpr">https://github.com/alfianpr</a>. Anw, this blog was made using clojure, Happy reading :D </p>
  </section>

  <div class="home-posts-wrapper">
    {% for year in years|sort-by-reversed:year %}
      <h1>{{year.year}}</h1>

      {% for post in year.posts|sort-by-reversed:date %}
        <section class="home-post">
          <h2 class="home-post-title"><a href="/posts/{{post.slug}}">{{post.title}}</a></h2>
          <p class="home-post-date">{{post.date|date:mediumDate}}</p>
        </section>
      {% endfor %}
    {% endfor %}
  </div>
{% endblock %}
